/*Class start*/
.IndexBox{
    box-shadow: 0px 20px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.19);
    background-color:white; 
    height: 500px;
    margin-right:auto; 
    margin-left:auto;
    margin-bottom: 30px;
    width: 800px;
    height: 100%;
}

.dropbtn {
    background-color: rgba(169, 214, 171,0);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

.dropdown{
    position: relative;
    display: inline-block;    
}

.dropdown-content{
   
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 38px;
    z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(155, 255, 238, 0.4)  
}

.active{
    font-style: italic;
    color:white;
}
/*Class end*/
/* ID start*/
#HeaderBox{
    box-shadow: 0px 20px 20px rgba(155, 255, 238, 0.7), 0 6px 6px rgba(155, 255, 238, 0.7);
    background-color:rgb(155, 255, 238);
    opacity: 0.7;
    margin-right:auto; 
    margin-left:auto;
    text-align: center;
}

#NavBar{
    z-index: 10000;
    position: sticky;
    top:0;
    width: 100%;
    background-color: rgba(221, 213, 203,1);
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    overflow: visible;
    border: 1px solid #555;
    text-align: center;
}
/* ID end*/

body{
    background-color:rgb(221, 213, 203)
}

NavBarLi a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(0, 0, 0);  
}




